version: '3.9'

services:
  blogapp.api:
    build:
      context: .
      dockerfile: BlogApp.API/Dockerfile
    container_name: blogapp_api
    restart: always
    depends_on:
      mongo:
        condition: service_started
      redis:
        condition: service_healthy
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      ASPNETCORE_URLS: "http://+:80;https://+:443"
      Redis__ConnectionString: "redis:6379"
      Mongo__ConnectionString: "mongodb://admin:admin@mongo:27017"
      GC_OTLP_ENDPOINT: "https://otlp-gateway-prod-eu-central-0.grafana.net/otlp"
      GC_API_KEY: "MTQwMjIyMzpnbGNfZXlKdklqb2lNVFUxTnpVeE5DSXNJbTRpT2lKa1pYWnpibTkzZEdWamFITWlMQ0pySWpvaVVsTnljREJvVDFSd01YVkhOekJuTmxBMmJEazJPRlkxSWl3aWJTSTZleUp5SWpvaWNISnZaQzFsZFMxalpXNTBjbUZzTFRBaWZYMD0="
    ports:
      - "5000:80"
      - "5001:443"
    volumes:
      - ./data/healthchecks:/app/healthchecks
    networks:
      - blogapp_network

  mongo:
    image: mongo:6.0
    container_name: mongodb
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongo_data:/data/db
    networks:
      - blogapp_network

  redis:
    image: redis:7.2
    container_name: redisdb
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - blogapp_network

  seq:
    image: datalust/seq
    container_name: seq
    restart: always
    ports:
      - "5341:80"
    environment:
      - ACCEPT_EULA=Y

volumes:
  mongo_data:
  redis_data:

networks:
  blogapp_network:
    driver: bridge
