services:
  blogapp.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - Serilog__WriteTo__1__Name=Seq
      - Serilog__WriteTo__1__Args__serverUrl=http://seq:5341
    depends_on:
      - mongo
      - redis
    ports:
      - "8080:8080"
      - "8081:8081"
